@model IEnumerable<eskisehirNET.Data.Model.Eczane>
@{
    ViewBag.Title = "Index";
}

@section Header{}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Data Tables</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Basic Datatables</a>
        </li>
    </ul>

</div>
<h3 class="page-title">
    Haber Tipleri <small>Haber, Köşe Yazısı vb.</small>
</h3>
@Html.ActionLink("Yeni Eczane Ekle", "Ekle", null, new { @class = "btn btn-info" })
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Eczaneler
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Eczane Adı
                                </th>
                                <th>
                                    Eczane Adresi
                                </th>
                                <th>
                                    Eczane Telefon
                                </th>
                                <th class="text-center">
                                    Değiştir
                                </th>
                                <th class="text-center">
                                    Sil
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)

                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.EczaneAdi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.EczaneAdres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.EczaneTelefon)
                                    </td>
                                    <td>
                                        haber sayısı gelecek
                                    </td>
                                    <td class="text-center">
                                        @Html.ActionLink("Düzenle", "Duzenle", new { id = item.EczaneID }, new { @class = "btn btn-success" })
                                    </td>
                                    <td class="text-center">
                                        @Html.ActionLink("Sil", "Sil", new { id = item.EczaneID }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>

</div>


